//colors

$headerColor: black;
$text-secondary: white;

$light-blue: rgb(43, 60, 75);
$blue: #3498db;

$grey: rgb(235, 232, 232);

$button-blue: rgb(86, 86, 236);
$button-red: rgb(232, 117, 117);

$card-background: rgb(230, 230, 225);
